homework1/dpg848.zip
homework2/data
homework3/data
research_pdfs
homework4/data
homework4/homework/vlm_model
homework4/homework/vlm_sft
homework4/dpg848.zip
/homework4/homework/clip_model
/homework4/homework/demo_train
/homework4/homework/demo_train
